/* 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
*/
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root {
  /* change the values below to your colors from your palette */
  
  --primary-color: #026E81;
  --secondary-color: #00ABBD;
  --accent1-color: #FF9933;
  --accent2-color: #EEF8FF;
  --accent3-color: #5f3600;

  /* change the values below to your chosen font(s) */
  --heading-font: "Playwrite DE Grund", georgia, serif;
  --paragraph-font: "Rubik", tahoma, sans-serif, ;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: var(--primary-color); /* headlines on a white background */
  --headline-color-on-color: white; /* headlines on a colored background */
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */
  --paragraph-color-on-color: white; /* paragraph text on a colored background */
  --paragraph-background-color: var(--primary-color);
  --nav-link-color: white;
  --nav-background-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--primary-color);
}

/* -------------------- Global -------------------- */

body {
    margin: 0;
    text-align: center;
}

p {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--accent1-color);
}

img {
    width: 100%;
}

body, #root {
    background-color: var(--accent2-color);
}

li {
    list-style-type: none;
}

/* -------------------- Header -------------------- */

header {
    display: flex;
    background-color: var(--nav-background-color);
}

nav {
    width: 100%;
}


nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    margin-left: 20px;
}

.logo img {
    width: 100%;
}

nav a, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
}

/* -------------------- Footer -------------------- */

footer {
    background-color: var(--nav-background-color);
    display: flex;
    align-items: center;
    padding: 20px;
    height: 100px;
}

footer p, footer > a, footer a:visited {
    color: var(--paragraph-color-on-color);
    margin: 0 20px;
}

footer a:hover {
    color: var(--nav-hover-link-color);
    text-decoration: underline;
}

/* ---------- Socials ---------- */

.socials {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.social > a {
    margin: 0;
}

.social-btn {
    padding: 10px;
    border: var(--accent2-color) solid 4px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    width: 80px; height: 80px;
}

.social-btn:hover {
    border-color: var(--accent1-color);
}

.social-popup {
    display: none;
    flex-direction: column;
}

.social-popup img {
    width: 100px;
    border: 4px solid var(--secondary-color);
    border-radius: 50%;
}

.social-popup img:hover {
    border-color: var(--accent1-color);
}

/* -------------------- Home -------------------- */

.App {
    background-color: var(--accent2-color);
}

.hero {
    position: relative;
    display: inline-block;
}

.hero h1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgb(255, 255, 255, 0.7);
}

.page-summary {
    width: 60%;
    height: 100px;
    margin: 75px 0;
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.page-summary:nth-of-type(2n) {
    flex-direction: row-reverse;
    margin-left: 40%;
}

.page-summary a {
    color: var(--accent2-color);
    padding: 5px;
    border: solid var(--accent2-color) 1px;
    border-radius: 4px;
}

.page-summary a:hover {
    border-color: var(--accent1-color);
    color: var(--accent1-color);
}

/* ---------------------------------------- Menu Page ---------------------------------------- */

.menu-bar ul {
    background-color: var(--paragraph-background-color);
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-bar button {
    margin: 50px; 
    padding: 10px;
    border-radius: 5px;
    background-color: var(--accent3-color);
    color: var(--headline-color-on-color);
    font-size: 1rem;
}

.menu-bar button:hover {
    color: var(--nav-hover-link-color);
}

.ingredients, .smoothies {
    display: grid;
    gap: 10px;
}

.ingredients {
    grid-template-columns: 1fr 1fr 1fr;
}

.smoothies {
    grid-template-columns: 1fr 1fr;
}

.card {
    border: 4px var(--accent2-color) solid;
}

.card img {
    width: 100px;
}






/* -------------------- Medium View -------------------- */

@media screen and (min-width: 560px) {
    nav ul {
        flex-direction: row;
        justify-content: left;

    }
    nav a {
        padding: 40px 20px;
    }
}


/* -------------------- Large View -------------------- */

@media screen and (min-width: 1000px) {
    main {
        margin: 0 20%;
    }
    .hero img {
        width: 100%;
    }
}